<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>{{description}}</p>
  <p class="ion-text-center">
    <ion-chip outline color="success" *ngIf="completed">
      <ion-label>Completed</ion-label>
    </ion-chip>
    <ion-chip outline color="danger" *ngIf="!completed">
      <ion-label>Incomplete</ion-label>
    </ion-chip>
  </p>
</ion-content>