table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 769px;

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  tr:nth-child(even) {
    background-color: #f7f7f7;
  }
}

.pagination {
  display: flex;
  justify-content: center;

  a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;

    &.active {
      background-color: #3dc2ff;
      color: white;
    }

    &:hover:not(.active) {background-color: #ddd;}
  }
}

@media screen and (min-width: 768px) {
  table {
    min-width: 100%;
  }
}
