<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      All Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar showCancelButton="focus" [(ngModel)]="searchTerm"></ion-searchbar>

  <ion-list>
    <ion-radio-group value="none">
      <ion-list-header class="ion-no-padding">
        <ion-label>Complete/incomplete filter</ion-label>
      </ion-list-header>
      <ion-item class="ion-no-padding" (ionFocus)="completeFilter(true)">
        <ion-label>True</ion-label>
        <ion-radio color="secondary" value="true" slot="start"></ion-radio>
      </ion-item>
      <ion-item class="ion-no-padding" (ionFocus)="completeFilter(false)">
        <ion-label>False</ion-label>
        <ion-radio color="secondary" value="false" slot="start"></ion-radio>
      </ion-item>
      <ion-item class="ion-no-padding" (ionFocus)="completeFilter()">
        <ion-label>None</ion-label>
        <ion-radio color="secondary" value="none" slot="start"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <table class="ion-margin-top">
    <tr>
      <th *ngFor="let column of displayedColumns">{{column}}</th>
    </tr>
    <tr *ngFor="let todo of filteredTasks | searchTask:searchTerm" (click)="gotoEditTask(filteredTasks.id)">
      <td>{{todo.title}}</td>
      <td>{{todo.description}}</td>
      <td class="ion-text-center">
        <ion-checkbox color="secondary" [checked]="todo.completed"></ion-checkbox>
      </td>
      <td>{{todo.created}}</td>
    </tr>
  </table>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="gotoAddTask()">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>